{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block body %}
    <h2>Экспертная система предназначена для определения степени депрессии, выдачи рекомендации. </h2>
        <p>Депрессия - это психическое состояние, приговором происходит расстройство, основными признаками расстройства
            являются сниженное, угнетенное, тоскливое, боязливое, безразличное настроение или утрата способности получать
            удовольствие.  В современном мире депрессия встречается довольно часто.
            Связано данное расстройство с тревогами повседневной жизни: расставанием людей,
            смертью близких людей, учёбой и т.д.  В качестве основы самой экспертной системы использована Шкала Занга.</p>
    <br>
    <p>Тест состоит из 20 сформулированных вопросов (будьте внимательны!).
        Чтобы пройти тест, вам нужно будет выбрать для каждого вопроса один из ответов
        («редко», «иногда», «часто» и «большую часть времени или постоянно»).
        Каждый ответ, в зависимости от частоты симптома, оценивается от 1 до 4 баллов.
        Общий балл определяет уровень депрессии. Время прохождения теста около 10 минут.</p>
    <button class="button" type="submit"><a href="{% url 'form' %}">Начать</a></button>

{% endblock %}