{% extends 'expert.html' %}
{% block title %}{% endblock %}
{% block content %}
    <h2>Вопросы</h2>
    <button class="button" type="button" ><a href="{% url 'question_form' %}">Добавить</a> </button>
    <table class="table table-hover">
        <th> id</th>
        <th> Вопрос</th>

        {% for i in question %}
        <tr>
            <td>
                <a href="{% url 'question_edit' i.id %}">{{ i.id }}</a></td>
        <td> {{ i.question }}</td>
        </tr>
        {% endfor %}
        </table>
{% endblock %}